
# Ignore node_modules directory
node_modules/
    .env
# Ignore build output
build/
    .env
    

gateway/
    .env

service/auth/
    .env
    index.html
    static/
        css/
        js/
        media/
        images/
        fonts/
        icons/
        logos/
        <empty_dir_placeholder>


.env # Ignore environment variable files

.prev # Ignore previous files